/*.navs li a {
    padding: 2rem;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
}*/

.drop {
    padding: 0.5rem;
    line-height: 1rem;
}

.navs li i, .icon {
    font-size: 1.2rem;
    margin: 0 1.8rem 0 0.3rem;
}

.list:hover, .hovered{
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    transition: 0.3s ease-out;
}

.list {
    padding: 2 rem;
    line-height: 3rem;
}

.main {
    width: 87%;
}

.side {
    width: 23%;
    transition: width 0.3s linear;
}

.options-show {
    display: block;
}

@media (max-width: 767px) {
    .side {
      display: none;
      position: fixed;
      top: 0;
      left: -100%; /* Move the sidebar off-screen by default */
      width: 80%;
      height: 100%;
      margin: 0 auto;
      z-index: 9999; /* Ensure the sidebar appears above other content */
      transition: left 0.3s ease; /* Add a transition for smooth animation */
      }


    .side-show {
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toggle-button {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 9999;

      }

    .toggle-button.side-show {
        color: white;
    }

    .main {
        width: 100%;
    }

    .reduce {
        font-size: 12px;
    }

    .down {
        margin-top: 1.2rem;
    }
  }