{% extends "base.html" %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">Reset Password</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email(class="my-2 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-transparent", placeholder="Enter your Email") }}
    {{ form.submit(class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded-md") }}
  </form>
</div>
{% endblock %}